# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env

# Data & Logs
trades*.json
*.log
database.sqlite
candles.db
logs/

# Development Tools
.gemini/
.antigravity/
.antigravityignore

# Web
node_modules/
.vscode/
